rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // AVISO: REGRAS DE ACESSO TOTALMENTE LIBERADAS
    // Isso remove todos os bloqueios e permite que qualquer pessoa
    // leia e escreva no banco de dados. Ideal para não ter nenhum tipo de erro.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}